<app-navbar>
  <div class="p-3">
    <h1>Here are the tasks you can embark your skills upon, {{name}}:-</h1>
    <mat-form-field class="m-2" style="width: 450px; max-width: 90%">
      <input type="tel" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="mr-md-5">
      <div [fxLayout]="'row wrap'" class="tasks-wrapper mr-md-4">
        <div class="p-2">
          <app-todo></app-todo>
        </div>
        <div class="p-2">
          <app-todo></app-todo>
        </div>
        <div class="p-2">
          <app-todo></app-todo>
        </div>
        <div class="p-2">
          <app-todo></app-todo>
        </div>
        <div class="p-2">
          <app-todo></app-todo>
        </div>
        <div class="p-2">
          <app-todo></app-todo>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
