<div class="text-center p-3 mh-nav100">
  <h2 class="color-primaryd">Here are the tasks you can embark your skills upon, {{name}}:-</h2>
  <div *ngIf="loading" class="load-cont">
    <app-loader></app-loader>
  </div>
  <div [ngClass]="{'v-hidden': loading}">
    <div class="mx-md-5 px-md-5">
      <div class="t-grid" [fxLayout]="'row wrap'" [fxLayoutAlign]="'center center'" #tasksGrid>
        <div *ngFor="let task of tasksList; index as i" [fxFlex.lg]="25" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="33"  class="p-2">
          <app-todo [task]="task" (keyPressed)="getKeyCode($event, i)"></app-todo>
        </div>
      </div>
    </div>
  </div>
</div>
