<div class="nav-wrapper">
  <div class="nav-bar ui-g">
    <div class="left ui-g-7 ui-sm-7">
      <span class="m-0 ml-sm-5"></span>
      <img class="nav-logo" src="assets/logo.png" alt="">
      <span class="nav-title">What to Do?!</span>
    </div>
    <div class="right ui-g-5 ui-sm-5">
      <a (click)="logout()" class="nav-button h-pointer hidden-md-down">
        <span class="text"><i class="pi pi-sign-out"></i><span class="logout-text">Log out</span></span>
      </a>
      <a (click)="toggleSideNav()" class="nav-button h-pointer hidden-lg-up">
        <span class="text"><i class="pi pi-bars "></i></span>
      </a>
      <span class="m-0 mr-sm-5"></span>
    </div>
  </div>
  <div class="nav-below"></div>
</div>

<div class="side-nav-wrapper hidden-md-down">
  <div class="side-nav">
    <h3 class="text-center">Welcome {{name}}! </h3>
    <hr>
    <app-sidenav></app-sidenav>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="side-nav-below hidden-md-down">
  </div>
  <div class="main-content mh-v100 bg-grey w-md-down-100">
    <div class="main-content-inside w-md-down-100">
      <ng-content></ng-content>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="sideNav" [baseZIndex]="10000" position="right" class="ui-sidebar-md">
    <h3 class="text-center">Welcome {{name}}! </h3>
    <hr>
    <app-sidenav></app-sidenav>
</p-sidebar>
