<div class="navbar-wrapper">
  <mat-toolbar class="nav-bar px-sm-4 px-1 bg-primary color-w">
    <img class="nav-logo" src="assets/logo.png" alt="">
    <h1 class="nav-title">What to Do?!</h1>

    <span class="spacer"></span>

    <button mat-button *ngIf="!mobileQuery.matches" (click)="logout()">
      <mat-icon [inline]="true">exit_to_app</mat-icon>
      Log out
    </button>

    <button mat-icon-button *ngIf="mobileQuery.matches" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container mh-nav100">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [position]="mobileQuery.matches ? 'end' : 'start'"
      [opened]="mobileQuery.matches ? false : true" fixedInViewport=true fixedTopGap="50" class="sidenav">
      <div class="h-100" [fxLayout]="'column'">
      <h3 class="py-3 m-0 text-center bg-primary color-w">Welcome {{uName}} </h3>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/wtd']" class=" snav-l-i-active">
          <div class="snav-l-i">
            <mat-icon [inline]="true">help</mat-icon>
            What to Do?!
          </div>
        </a>

        <a mat-list-item [routerLink]="['/wtd/add_to_do']">
          <div class="snav-l-i">
            <mat-icon [inline]="true">add_circle</mat-icon>
            Add to Do
          </div>
        </a>

        <a mat-list-item [routerLink]="['/wtd/did_it']">
          <div class="snav-l-i">
            <mat-icon [inline]="true">check_circle</mat-icon>
            Did it
          </div>
        </a>

        <a mat-list-item [routerLink]="['/wtd/zoom_out']">
          <div class="snav-l-i">
            <mat-icon [inline]="true">zoom_out</mat-icon>
            Zoom Out
          </div>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item *ngIf="mobileQuery.matches" (click)="logout()">
          <div class="snav-l-i">
            <mat-icon [inline]="true">exit_to_app</mat-icon>
            Log out
          </div>
        </a>
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="text-center snav-footer">
        <div><a href="s" class="mx-2">Terms </a><a href="s" class="mx-2"> Privacy</a></div>
        <p class="mt-1">© 2019 WtD</p>
      </div>
    </div>
    </mat-sidenav>

    <mat-sidenav-content class="mh-nav100">
      <div class="mh-nav100">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
