<div class="navbar-wrapper">
  <mat-toolbar class="nav-bar px-sm-5 px-1 bg-wl color-dark">
    <button mat-icon-button *ngIf="mobileQuery.matches" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="nav-logo" src="assets/logo-dark.png" alt="">
    <h1 class="nav-title mr-5">What to Do?!</h1>

    <!-- <div *ngIf="!mobileQuery.matches" class="search-container ml-5">
      <div class="search px-2" [fxLayout]="'row'" #search>
        <mat-icon class="mr-2" [inline]="true">search</mat-icon>
        <input placeholder="Search" type="text" class="search-input font-s fw-500" [(ngModel)]="searchText"
          (focus)="search.classList.add('si-active')" (focusout)="search.classList.remove('si-active')" #searchinput>
        <mat-icon class="h-pointer" *ngIf="searchText" (click)="searchText = ''" [inline]="true">clear</mat-icon>
      </div>
    </div> -->

    <span class="spacer"></span>

    <!-- <div [ngClass]="{'right0': sActive || (searchText != '') }" *ngIf="mobileQuery.matches" class="search-container-m">
      <div [ngClass]="{'si-active': sActive }" class="search-m px-2" [fxLayout]="'row'" #search_m>
        <mat-icon class="mr-2" [inline]="true">search</mat-icon>
        <input placeholder="Search" type="text" class="search-input-m font-s fw-500" [(ngModel)]="searchText"
          (focus)="sActive = true;" (focusout)="sActive = false;" #searchinput_m>
        <mat-icon class="h-pointer" *ngIf="searchText" (click)="searchText = ''" [inline]="true">clear</mat-icon>
      </div>
    </div> -->


    <button mat-button *ngIf="!mobileQuery.matches" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="font-s font-12">Log out</span>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container mh-nav100 bg-gl">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [position]="'start'"
      [opened]="mobileQuery.matches ? false : true" fixedInViewport=true fixedTopGap="50" class="sidenav bg-gl">
      <div class="h-100" [fxLayout]="'column'">
        <h3 class="py-3 m-0 text-center color-primaryxxd fw-600">Welcome {{uName}} </h3>
        <mat-nav-list>
          <a mat-list-item routerLink="/home/wtd" routerLinkActive="snav-li-active" class="snav-li">
            <div class="snav-li-wr">
              <span class="snav-icon">
                <mat-icon [inline]="true">help_outline</mat-icon>
              </span>
              What to Do?!
            </div>
          </a>

          <a mat-list-item routerLink="/home/zoom-out" routerLinkActive="snav-li-active" class="snav-li">
            <div class="snav-li-wr">
              <mat-icon [inline]="true">zoom_out</mat-icon>
              Zoom Out
            </div>
          </a>

          <br>

          <mat-divider></mat-divider>
          <br>
          <a mat-list-item *ngIf="mobileQuery.matches" (click)="logout()" class="snav-li">
            <div class="snav-li-wr">
              <mat-icon [inline]="true">exit_to_app</mat-icon>
              Log out
            </div>
          </a>
        </mat-nav-list>
        <div class="spacer"></div>
        <div class="pl-4 snav-footer">
          <p class="mt-1">© 2019 Baheti</p>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="mh-nav100">
      <div style="overflow: auto;" class="h-nav100">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="atd-wrapper">
    <button matTooltip="Add new task!" mat-fab color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
