@import '../../vars.scss';

.nav-bar {
  height: $navbar-ht;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 3;
  left: 0px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
  width: 35px;
}

.nav-title {
  font-size: 20px;
  position: relative;
  left: 4px;
  font-weight: 600;
}


.side-nav-wrapper {
  position: fixed;
  box-sizing: border-box;
  width: 18%;
  height: 100%;
  z-index: 2;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sidenav-container {
  margin-top: 50px;
}

.sidenav {
  width: 180px;
}

.snav-l-i {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: $color-pxxd;
}

.snav-l-i-active {
  background-color: $color-pxxl;
}

.snav-l-i mat-icon {
  font-size: 20px;
}

.snav-footer {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.snav-footer a{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.snav-footer a:hover{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

.content {
  min-height: calc(100vh - #{$navbar-ht});
}

.logout-text {
  position: relative;
  top: -3px;
}
