<div class="task-wrapper font-s">
  <!-- <div *ngIf="active" class="task-bg">
    <div class="task-rank">15</div>
  </div> -->
  <div (mouseenter)="active = true" (mouseleave)="isShow ? active = true : active = false" class="task">
    <div class="task-inner" [fxLayout]="'column'">
      <div class="t-title">
        {{ task.taskName }}
      </div>
      <div class="t-desc">
        {{ task.taskDesc }}
      </div>
      <div [fxLayout]="'column'" [ngClass]="{ 'o1': active, 'o0': !active }">
        <div [fxFlex]="'1 1 auto'" [fxLayout]="'row'" class="t-info font-9 pt-2">
          <p class="m-0"><b>{{ task.taskWorkHrs }} hours</b> more to go.</p>
          <div class="spacer"></div>
          <p class="m-0"><b>{{ getWHPD(task) }} hrs</b> per day</p>
        </div>
        <div class="t-opts">
          <div [fxFlex]="'1 1 auto'" class="font-9 icon-bar pb-2" [fxLayout]="'row'">
            <p class="m-0" matTooltip="Deadline">
              <b>
                <mat-icon [inline]="true" [fxFlexAlign]="'center'">date_range</mat-icon>{{ getDL(task.taskDeadline) }}
              </b>
            </p>
            <div class="spacer"></div>
            <p class="m-0">
              <b>
                <span  matTooltip="Decrease 1 Quanta" class="h-pointer" (click)="sendKeyCode(2)">
                  <mat-icon [inline]="true">
                    remove_circle_outline</mat-icon> {{ task.taskQuanta }} hrs
                </span>
              </b>
            </p>

            <mat-icon *ngIf="!isShow" [inline]="true" class="h-pointer" [fxFlexAlign]="'center'" [matMenuTriggerFor]="menu">more_vert
            </mat-icon>
            <mat-menu [classList]="'task-menu'" #menu="matMenu">
              <button mat-menu-item (click)="sendKeyCode(3)">
                <mat-icon>delete</mat-icon>
                <span class="font-9">Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'o1': active, 'o0': !active }" class="t-progress">
      <div class="tp-width" [ngStyle]="{'width': getProgress(task)}"></div>
    </div>
  </div>
</div>
