<div class="task-wrapper">
    <div class="task mat-elevation-z2">
      <div [fxLayout]="'row'">
        <div [fxLayout]="'column'" [fxFlex]="10">
          <div class="num bg-darker">1</div>
          <div [fxFlex]="'1 1 auto'" class="icon-bar py-2" [fxLayout]="'column'">
            <mat-icon [inline]="true" [fxFlexAlign]="'center'">loop</mat-icon>
            <mat-icon [inline]="true" [fxFlexAlign]="'center'">create</mat-icon>
            <div class="spacer"></div>
            <mat-icon [inline]="true" [fxFlexAlign]="'center'">delete</mat-icon>
          </div>
        </div>
        <div [fxFlex]="90" class="p-2">
          <div class="title">My first task</div>
          <div class="desc my-2">a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k
            dm mk
            m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm
            bom
            xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk
            m,
          </div>
          <div class="dline" [fxLayout]="'row'">
            <mat-icon [inline]="true">date_range</mat-icon> 12th June 1998
            <span class="spacer"></span>
            <mat-icon [inline]="true">hourglass_full</mat-icon> 58 Hours
          </div>
          <div class="dline" [fxLayout]="'row'">
            <mat-icon [inline]="true">timeline</mat-icon> 4 Hours
            <span class="spacer"></span>
            <mat-icon [inline]="true">flag</mat-icon> 1 hour
          </div>
        </div>
      </div>
    </div>
  </div>
