<div class="nav-wrapper">
  <div class="nav-bar" [fxLayout]="'row'">
    <div class="left" [fxFlex]="100">
      <span class="m-0 ml-sm-5"></span>
      <img class="nav-logo" src="assets/logo.png" alt="">
      <span class="nav-title">What to Do?!</span>
    </div>
    <!-- <div class="right ui-g-6 ui-sm-9">
      <a href="#whywtd" class="nav-button hidden-sm-down">
          <span class="text">WhyWtD?</span>
        </a>
        <a href="#whywtd" class="nav-button">
          <span class="text">Sign In</span>
        </a>
        <a href="#whywtd" class="nav-button bg-lblue">
          <span class="text">Create an account</span>
        </a>
      <span class="m-0 mr-sm-5"></span>
    </div> -->
  </div>
  <div class="nav-below"></div>
</div>

<div class="mh-v100 bg-grey pt-5">
  <div [fxLayout]="'row'">
    <div [fxFlex]="40">
      <div class="ml-5 float-right">
        <mat-tab-group class="main-auth-tab" [selectedIndex]="activeI" (selectedIndexChange)="handleTabChange($event)" style="width: 450px;">
          <mat-tab [label]="'Log in'">
            <h2>Log in</h2>
            <app-signin></app-signin>
            <p class="mb-2">New to WtD? <a (click)="openSignUpTab()" class="h-pointer h-ul primary">Create account
              now</a></p>
            <p class="text-right"><a href="reset" class="h-ul">Forgot Password?</a></p>
            <p class="text-right"><a [routerLink]="['/wtd']" class="h-ul">WtD?</a></p>
          </mat-tab>
          <mat-tab [label]="'Create account'">
            <h2>Create Account</h2>
            <app-signup></app-signup>
            <p class="font-12 py-3 px-1">By clicking "Sign Up", you agree to our <a href="tp/terms_of_services">Terms
                of Services</a> and
              <a href="tp/privacy_policy">Privacy
                Policy</a>.</p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div [fxFlex]="60" class="text-center text-md-left px-5">
      <img src="assets/papers.png" alt="" style="max-height: 350px">
      <h1 class="title">More than just a To Do app!</h1>
      <p class="pr-5">Just add your tasks and manage all your work. sdsds afns vdklj dblndf bklsdsds afns vdklj dblndf
        bklsdsds afns
        vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns
        vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns vdklj dblndf bklsdsds afns
        vdklj dblndf bklsdsds afns vdklj bkl </p>
      <h3>Get organised yourself now!</h3>
    </div>
  </div>
</div>

<app-footer></app-footer>
