@import '../../vars.scss';

.title {
  font-size: 50px;
  margin: 2px;
}

.nav-bar {
  background-color: rgb(245, 245, 245);
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 2;
  left: 0px;
  border-top: $color-p 3px solid;
  font-family: $font-s;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.nav-below {
  height: 50px;
  width: 100vw;
}

.nav-bar .left {
  text-align: left;
  height: 100%;
}

.nav-bar .right {
  text-align: right;
  height: 100%;
  vertical-align: middle;
  position: relative;
}

.nav-button {
  margin: 0px 5px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  padding: 7px 15px;
  color: #222;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  display: inline-block;
}

.nav-button .text {
  display: block;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.nav-logo {
  height: 35px;
  margin-top: 7.5px;
}

.nav-title {
  font-size: 20px;
  position: relative;
  top: -8px;
  left: 8px;
  color: $color-dark;
  font-weight: 600;
}
