<div style="max-height: 100vh; min-width: 100vw; overflow: hidden;">
  <div class="nav-wrapper">
    <div class="nav-bar" [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
      <div [fxFlex]="100" class="text-center">
        <span class="m-0 ml-sm-5"></span>
        <img class="nav-logo" src="assets/logo.png" alt="">
        <span class="nav-title">What to Do?!</span>
      </div>
      <!-- <div class="right ui-g-6 ui-sm-9">
        <a href="#whywtd" class="nav-button">
          <span class="text">Sign In</span>
        </a>
        <a href="#whywtd" class="nav-button bg-lblue">
          <span class="text">SignUp</span>
        </a>
        <span class="m-0 mr-sm-5"></span>
      </div> -->
    </div>
    <div class="nav-below"></div>
  </div>

  <div class="mh-v100 bg-grey pt-5">
    <div [fxLayout]="'row'">
      <div [fxHide.lt-sm]="true" [fxFlex]="40">
        <div class="ml-5 float-right">
          <mat-tab-group class="main-auth-tab" [selectedIndex]="activeI" (selectedIndexChange)="handleTabChange($event)"
            style="width: 450px;">
            <mat-tab [label]="'Sign In'">
              <h2>Log in</h2>
              <app-signin></app-signin>
              <p class="mb-2">New to WtD? <a (click)="openSignUpTab()" class="h-pointer h-ul color-primary">Create
                  account
                  now</a></p>
            </mat-tab>
            <mat-tab [label]="'Sign Up'">
              <h2>Create Account</h2>
              <app-signup></app-signup>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div [fxFlex]="60" [fxFlex.lt-md]="100" class="text-center">
        <img src="assets/papers.png" style="width: 350px; max-width: 90vw; margin: auto">
        <h1 class="title px-2" style="font-size: 3rem">More than just a To Do app!</h1>
        <h3>Get yourself organised now!</h3>
        <button [fxHide.gt-xs]="true" routerLink="/signin" color="primary" mat-raised-button class="mr-2">Sign
          In</button>
        <button [fxHide.gt-xs]="true" routerLink="/signup" color="primary" mat-raised-button>Sign Up</button>
      </div>
    </div>
  </div>
</div>
