<app-navbar>
  <div class="px-3 px-sm-5 py-2 py-sm-3 mh-nav100 bg-accentxxxl">
    <h1 class="color-primaryxxxd">Let's see what can be done right now, {{name}}!</h1>
    <div style="max-width: 450px;">
      <div>
        <h3>How much time have you got?</h3>
        <mat-chip-list [fxLayout]="'row wrap'" [fxLayoutAlign.lt-sm]="'center center'">
          <mat-chip>15 minutes</mat-chip>
          <mat-chip>30 minutes</mat-chip>
          <mat-chip>1 hour</mat-chip>
          <mat-chip>2 hours</mat-chip>
          <mat-chip (click)="isCustom = !isCustom" [fxFlexAlign]="'center'"><span>
              <mat-icon [inline]="true">create</mat-icon>Custom
            </span></mat-chip>
        </mat-chip-list>
      </div>
      <br>
      <div *ngIf="isCustom" style="max-width: 410px;">
        <div [fxLayout]="'column'" [fxFlexAlign]="'center center'" class="mw-100 mt-3">
          <div [fxLayout]="'row'" [fxLayoutAlign]="'center start'" [fxLayoutGap]="'5px'">
            <mat-form-field [fxFlex]="50" color="primary" appearance="outline">
              <mat-label>Hours</mat-label>
              <input matInput type="number" placeholder="Hours" min="10">
            </mat-form-field>
            <mat-form-field [fxFlex]="50" color="primary" appearance="outline">
              <mat-label>Minutes</mat-label>
              <input matInput type="number" placeholder="Minutes" min="10">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary">What to Do?!</button>
        </div>
      </div>
      <div [fxLayout]="'column'" [fxLayoutAlign]="'center center'">
        <mat-spinner class="mt-3 mr-5" diameter=30></mat-spinner>
      </div>
    </div>
    <br>
    <div class="tasks-wrapper">
      <div class="task-wrapper">
        <div class="task mat-elevation-z2">
          <div [fxLayout]="'row'">
            <div [fxLayout]="'column'" [fxFlex]="10">
              <div class="num bg-darker">1</div>
              <div [fxFlex]="'1 1 auto'" class="icon-bar py-2" [fxLayout]="'column'">
                <mat-icon [inline]="true" [fxFlexAlign]="'center'">loop</mat-icon>
                <mat-icon [inline]="true" [fxFlexAlign]="'center'">create</mat-icon>
                <div class="spacer"></div>
                <mat-icon [inline]="true" [fxFlexAlign]="'center'">delete</mat-icon>
              </div>
            </div>
            <div [fxFlex]="90" class="p-2">
              <div class="title">My first task</div>
              <div class="desc my-2">a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk
                m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom
                xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m, a a f fm bom xm x k dm mk m,
              </div>
              <div class="dline" [fxLayout]="'row'">
                <mat-icon [inline]="true">date_range</mat-icon> 12th June 1998
                <span class="spacer"></span>
                <mat-icon [inline]="true">hourglass_full</mat-icon> 58 Hours
              </div>
              <div class="dline" [fxLayout]="'row'">
                <mat-icon [inline]="true">timeline</mat-icon> 4 Hours
                <span class="spacer"></span>
                <mat-icon [inline]="true">flag</mat-icon> 1 hour
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
