// color Palette
$color-p: #3F51B5;
$color-pl: #5C6BC0;
$color-pxl: #9FA8DA;
$color-pxxl: #C5CAE9;
$color-pxxxl: #E8EAF6;
$color-pd: #3949AB;
$color-pxd: #303F9F;
$color-pxxd: #283593;
$color-pxxxd: #1A237E;

$color-a: #FFCA28;
$color-al: #FFCA28;
$color-axl: #FFE082;
$color-axxl: #FFECB3;
$color-axxxl: #FFF8E1;
$color-ad: #FFB300;
$color-axd: #FFB300;
$color-axxd: #FFB300;
$color-axxxd: #FFB300;

$color-dark: #424242;
$color-darker: #212121;

$color-g: #BDBDBD;
// $color-gl: #F5F5F5;
$color-gl: #fcfcfc;
$color-gd: #BDBDBD;

$color-w: #eee;
$color-wl: #fff;
$color-wd: #ddd;

$color-b: black;

$navbar-ht: 50px;


// fonts
$font-p: 'Source Sans Pro', sans-serif;
$font-s: 'Gordita', sans-serif;

.font-p { font-family: $font-p };
.font-s { font-family: $font-s };

// Color Palatte
.bg-primary { background-color: $color-p; }
.bg-primaryl { background-color: $color-pl; }
.bg-primaryxl { background-color: $color-pxl; }
.bg-primaryxxl { background-color: $color-pxxl; }
.bg-primaryxxxl { background-color: $color-pxxxl; }
.bg-primaryd { background-color: $color-pd; }
.bg-primaryxd { background-color: $color-pxd; }
.bg-primaryxxd { background-color: $color-pxxd; }
.bg-primaryxxxd { background-color: $color-pxxxd; }
.bg-accent { background-color: $color-a; }
.bg-accentl { background-color: $color-al; }
.bg-accentxl { background-color: $color-axl; }
.bg-accentxxl { background-color: $color-axxl; }
.bg-accentxxxl { background-color: $color-axxxl; }
.bg-accentd { background-color: $color-ad; }
.bg-accentxd { background-color: $color-axd; }
.bg-accentxxd { background-color: $color-axxd; }
.bg-accentxxxd { background-color: $color-axxxd; }
.bg-dark { background-color: $color-dark; }
.bg-darker { background-color: $color-darker; }
.bg-g { background-color: $color-g; }
.bg-gl { background-color: $color-gl; }
.bg-gd { background-color: $color-gd; }
.bg-w { background-color: $color-w; }
.bg-wl { background-color: $color-wl; }
.bg-wd { background-color: $color-wd; }

.color-primary { color: $color-p; }
.color-primaryl { color: $color-pl; }
.color-primaryxl { color: $color-pxl; }
.color-primaryxxl { color: $color-pxxl; }
.color-primaryxxxl { color: $color-pxxxl; }
.color-primaryd { color: $color-pd; }
.color-primaryxd { color: $color-pxd; }
.color-primaryxxd { color: $color-pxxd; }
.color-primaryxxxd { color: $color-pxxxd; }
.color-accent { color: $color-a; }
.color-accentl { color: $color-al; }
.color-accentxl { color: $color-axl; }
.color-accentxxl { color: $color-axxl; }
.color-accentxxxl { color: $color-axxxl; }
.color-accentd { color: $color-ad; }
.color-accentxd { color: $color-axd; }
.color-accentxxd { color: $color-axxd; }
.color-accentxxxd { color: $color-axxxd; }
.color-dark { color: $color-dark; }
.color-darker { color: $color-darker; }
.color-g { color: $color-g; }
.color-gl { color: $color-gl; }
.color-gd { color: $color-gd; }
.color-w { color: $color-w; }
.color-wl { color: $color-wl; }
.color-wd { color: $color-wd; }
.color-b { color: $color-b; }
