@import '../../vars.scss';

.load-wrapper {
  margin: auto;
  width: 150px;
}

.loader {
  width: 100px;
  margin: 0;
  padding: 0;
}

.loader-text {
  font-size: 1.2rem;
  position: relative;
  top: -20px;
  font-family: $font-s;
  font-weight: 500;
}

.circle {
  fill: $color-gd;
  stroke: #f05125;
  stroke-width: 0;
}

.min-hand {
  fill: #666;
}

.hr-hand {
  fill: #888;
}

.sandglass {
  fill: none;
  stroke: $color-p;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}


// .circle {
//   fill: $color-pl;
//   stroke: #f05125;
//   stroke-width: 0;
// }

// .min-hand {
//   fill: $color-pl;
// }

// .hr-hand {
//   fill: $color-pxl;
// }
