<div [fxLayout]="'column'">
  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Full Name</mat-label>
      <input (keydown.enter)="register()" class="w-100" matInput required placeholder="Full Name" [formControl]="nameFC">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input (keydown.enter)="register()" class="w-100" matInput required placeholder="Username" [formControl]="uNameFC">
      <mat-icon matSuffix>person_add</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input (keydown.enter)="register()" class="w-100" matInput placeholder="Email" [formControl]="emailFC">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
      <input (keydown.enter)="register()" matInput placeholder="Enter your password"  [formControl]="passFC" [type]="hidePass ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="pl-0 pr-2">
    <button class="w-100" (click)="register()" mat-flat-button color="primary" [disabled]="isRegistering">
        <span *ngIf="!isRegistering">Create account</span>
        <span *ngIf="isRegistering">Creating account...</span>
    </button>
  </div>
</div>
