<div [fxLayout]="'column'">
  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Full Name</mat-label>
      <input class="w-100" matInput placeholder="Full Name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input class="w-100" matInput placeholder="Username">
      <mat-icon matSuffix>person_add</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input class="w-100" matInput placeholder="Email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="pl-0 pr-2">
    <button class="w-100" mat-flat-button color="primary">Create Account</button>
  </div>
</div>
