<app-navbar>
  <div class="py-3 px-5">
    <h1>Got another thrilling task {{name}}? Add it and <b>Just do it</b></h1>
    <div [fxLayout]="'column'" class="add-todo">
      <mat-form-field appearance="outline">
        <mat-label>Task Name</mat-label>
        <input matInput placeholder="Task Name">
        <!-- <mat-icon matSuffix></mat-icon> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Task Description</mat-label>
        <textarea matInput placeholder="Task Description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hours for Completion</mat-label>
        <input type="number" matInput placeholder="Hours">
        <!-- <mat-icon matSuffix></mat-icon> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Minimum Time Quanta</mat-label>
        <input type="number" matInput placeholder="Time Quanta">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

      <h3 class="m-0 mb-2">
        <mat-slide-toggle color="primary" [(ngModel)]="tIsRepeat">Repeat Task</mat-slide-toggle>
      </h3>

      <mat-form-field *ngIf="!tIsRepeat" appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Deadline">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div *ngIf="tIsRepeat" [fxLayout]="'column'">
        <p class="mb-1">Select days to repeat</p>
        <mat-button-toggle-group [multiple]="true" color="primary" class="mb-2">
          <mat-button-toggle value="0">S</mat-button-toggle>
          <mat-button-toggle value="1">M</mat-button-toggle>
          <mat-button-toggle value="2">T</mat-button-toggle>
          <mat-button-toggle value="3">W</mat-button-toggle>
          <mat-button-toggle value="4">T</mat-button-toggle>
          <mat-button-toggle value="5">F</mat-button-toggle>
          <mat-button-toggle value="6">S</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Repeat time">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <br>
      <button mat-raised-button color="primary">Add it!</button>
    </div>
  </div>
</app-navbar>
