<app-navbar>
  <div class="py-3 px-5">
    <h1>Got another thrilling task {{name}}? Add it and <b>Just do it</b></h1>
    <div class="add-todo">
      <h3 class="mb-0">Task Name</h3>
      <input id="input" type="text" size="50" pInputText [(ngModel)]="tName">

      <h3 class="mb-0">Description</h3>
      <textarea pInputTextarea [(ngModel)]="tDesc"></textarea>

      <h3 class="mb-0">Deadline</h3>

      <p-calendar class="hidden-md-down" [(ngModel)]="tDeadline" [showTime]="true" [showIcon]="true" [hourFormat]="12" [hideOnDateTimeSelect]="true">
      </p-calendar>
      <p-calendar class="hidden-lg-up" [(ngModel)]="tDeadline" [touchUI]="true" [showTime]="true" [showIcon]="true" [hourFormat]="12" [hideOnDateTimeSelect]="true">
      </p-calendar>

      <h3 class="mb-0">Hours for Completion:</h3>
      <p-spinner size="30" [min]="0" [(ngModel)]="tCompHrs"></p-spinner>

      <h3 class="mb-0">Minimum Time Quanta:</h3>
      <p-spinner size="30" [min]="0" [placeholder]="'Hours'" [(ngModel)]="tQuanta"></p-spinner>

      <h3 class="mb-1"><p-inputSwitch [(ngModel)]="tIsRepeat"></p-inputSwitch><span class="repeat-task">Repeat Task</span></h3>

      <div *ngIf="tIsRepeat">
        <p class="mb-1">Select days to repeat</p>
        <p-selectButton [options]="tDayTypes" [(ngModel)]="tDayRepeat" multiple="multiple"></p-selectButton>
      </div>
      <br>
      <button pButton type="button" label="Add it!" class="ui-button-raised ui-button-primery"></button>
    </div>
  </div>
</app-navbar>
